@font-face {
    font-family: 'SoftwareTester';
    src: url(SoftwareTester7-rARp.ttf);
}
@font-face {
    font-family: 'Digital7';
    src: url(Digital7-rg1mL.ttf);
}
body {
    margin: auto;
    padding: 10px;
    width: 35%;
    display: flex;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#body1,#body2,#solve {
    border-radius: 60px;
    background-color: #f0f8f9;
    border: 2px solid black;
    padding: 20px;
    width: 425px; 
    height: 550px; 
}
#body2 {
    border-radius: 45px;
    width: 380px; 
    height: 510px; 
}
#solve {
    border-radius: 20px;
    background-color: #c6d1d2;
    width: 335px;
    height: 45px;
    font-size: 70px;
    font-family: 'Digital7';
}
table,tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 5px 1px 7px 1px;
}
.button,.button1,.button2,.button3,.button4,.button5 {
    background-color: #f5c1ff;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    font-family: 'SoftwareTester';
    box-shadow: 5px 5px #0f242c;
    
}
.button:hover,.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover{
    background-color: white;
    transition: 0.3s ease;

}
.button,.button1 {
    background-color: #ffe6c7;
    border-radius: 45px;
    width: 60px;
    height: 40px;
    font-size: 25px;
}
.button1 {
    background-color: #ffbfd2;
}
.button4,.button5 {
    background-color: #c694ff;
}
.button:hover,.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover {
    transform: scale(10px);
    transition-duration: 50ms;
}
.button:active,.button1:active,.button2:active,.button3:active,.button4:active,.button5:active {
    box-shadow: 5px 5px #e3f8ff;
    transform: translate(4px);
}
